@page "/Tickets/{TicketId:int}"
@model Tickets.Pages.Tickets.DetailsModel
@{
    ViewData["Title"] = $"Ticket #{Model.TicketId}";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="h3 mb-0">@ViewData["Title"]</h1>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">Summary</dt>
                <dd class="col-sm-9">@Model.Ticket!.Summary</dd>

                <dt class="col-sm-3 font-weight-bold">Description</dt>
                <dd class="col-sm-9">@Model.Ticket!.Description</dd>

                <dt class="col-sm-3 font-weight-bold">Category</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Ticket!.Category)</dd>

                <dt class="col-sm-3 font-weight-bold">Status</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Ticket!.Status)</dd>

                <dt class="col-sm-3 font-weight-bold">Priority</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Ticket!.Priority)</dd>

                <dt class="col-sm-3 font-weight-bold">Assignee</dt>
                <dd class="col-sm-9">
                    <span class="badge rounded-pill bg-primary">@Model.Ticket!.Assignee?.UserName</span>
                </dd>

                <dt class="col-sm-3 font-weight-bold">Due Date</dt>
                <dd class="col-sm-9">@Model.Ticket!.DueDate?.ToString("MMMM d, yyyy")</dd>

                <dt class="col-sm-3 font-weight-bold">Reporter</dt>
                <dd class="col-sm-9">
                    <span class="badge rounded-pill bg-primary">@Model.Ticket!.Reporter?.UserName</span>
                </dd>

                <dt class="col-sm-3 font-weight-bold">Created</dt>
                <dd class="col-sm-9">@Model.Ticket!.Created.ToString("MMMM d, yyyy HH:mm")</dd>

                <dt class="col-sm-3 font-weight-bold">Updated</dt>
                <dd class="col-sm-9">@Model.Ticket!.Updated.ToString("MMMM d, yyyy HH:mm")</dd>
            </dl>
        </div>
        <div class="card-footer text-right">
            @if (Model.CanDeleteTicket)
            {
                <a asp-page="./Delete" asp-route-TicketId="@Model.TicketId" class="btn btn-danger">Delete Ticket</a>
            }
            @if (Model.CanEditTicket)
            {
                <a asp-page="./Edit" asp-route-TicketId="@Model.TicketId" class="btn btn-secondary ml-2">Edit Ticket</a>
            }
            <a asp-page="./Index" class="btn btn-primary ml-2">Back to List</a>
        </div>
    </div>
</div>
