@page
@model Tickets.Pages.Tickets.IndexModel
@{
    ViewData["Title"] = "Tickets";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="h3 mb-0">@ViewData["Title"]</h1>
        </div>
        <div class="card-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Ticket</th>
                        <th style="width: 20%;">Summary</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Assignee</th>
                        <th>Due Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in Model.Tickets)
                    {
                        <tr>
                            <td># @ticket.TicketId</td>
                            <td>@ticket.Summary</td>
                            <td>@Html.DisplayFor(model => ticket.Category)</td>
                            <td>@Html.DisplayFor(model => ticket.Status)</td>
                            <td>@Html.DisplayFor(model => ticket.Priority)</td>
                            <td>
                                <span class="badge rounded-pill bg-primary">@ticket.Assignee?.UserName</span>
                            </td>
                            <td>@ticket.DueDate?.ToString("MMMM d, yyyy")</td>
                            <td>
                                <a asp-page="./Details" asp-route-TicketId="@ticket.TicketId" class="btn btn-primary btn-sm">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>