@page
@model Tickets.Pages.Tickets.IndexModel
@{
    ViewData["Title"] = "Tickets";
}

<h1>@ViewData["Title"]</h1>

<a asp-page="/Tickets/Create">New Ticket</a>

<ul>
    @foreach (var ticket in Model.Tickets)
    {
        <li>
            <strong>TicketId:</strong> @ticket.TicketId <br />
            <strong>Summary:</strong> @ticket.Summary <br />
            <strong>Description:</strong> @ticket.Description <br />
            <strong>Category:</strong> @ticket.Category <br />
            <strong>Status:</strong> @ticket.Status <br />
            <strong>AssigneeId:</strong> @ticket.AssigneeId <br />
            <strong>ReporterId:</strong> @ticket.ReporterId <br />
            <strong>DueDate:</strong> @ticket.DueDate <br />
            <strong>Priority:</strong> @ticket.Priority <br />
            <strong>Created:</strong> @ticket.Created <br />
            <strong>Updated:</strong> @ticket.Updated <br />
            <a asp-page="./Details" asp-route-TicketId="@ticket.TicketId">View Details</a>
        </li>
    }
</ul>